.idea/
.gradle/
build/
gradle.properties
logs/
config.json
bot/build/
corrupted-mainframe.jar
plugins
image/corrupted-mainframe.jar
image/plugins/*
image/config.json
image?*/
*/build/
**/*pickuplines*.txt